# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDEs
/.idea/
/*.iml
*.iws
*.ipr
*.class

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Executables
*.jar
*.war
*.ear

# Batch and shell scripts output
*.bat~
*.sh~
